[run]
source = ../libs
omit =
    */dependency_injection.py
    */exceptions.py
    */observability/metrics.py
    */observability/logging.py
    */observability/tracing.py
    */__pycache__/*
    */tests/*
    */InitializeConfig.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if TYPE_CHECKING:
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    @abstractmethod

[html]
directory = htmlcov
